<ion-header translucent>
  <ion-toolbar>
    <ion-title (click)="dismiss()">Back</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content full class="background">
  <ion-card style="opacity: 80%;">
    <ion-card-header>
      <ion-card-title>Vital Sign</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col>
              <ion-card>
                <ion-card-header>
                  <ion-card-title style="font-size:12px">
                    Temperature °C 
                  </ion-card-title>
                </ion-card-header>
                <ion-card-content>
                  <ion-label>{{checkup.temperature}}</ion-label>
                </ion-card-content>
              </ion-card>
          </ion-col>
          <ion-col>
            <ion-card>
              <ion-card-header>
                <ion-card-title style="font-size:12px">
                  GCS
                </ion-card-title>
              </ion-card-header>
              <ion-card-content>
                <ion-label>{{checkup.gcs}}</ion-label>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
              <ion-card>
                <ion-card-header>
                  <ion-card-title style="font-size:12px">
                    Pulse Rate
                  </ion-card-title>
                </ion-card-header>
                <ion-card-content>
                  <ion-label>{{checkup.pulse_rate}}</ion-label>
                </ion-card-content>
              </ion-card>
          </ion-col>
          <ion-col>
            <ion-card>
              <ion-card-header>
                <ion-card-title style="font-size:12px">
                  O2SAT
                </ion-card-title>
              </ion-card-header>
              <ion-card-content>
                <ion-label>{{checkup.o2sat}}</ion-label>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
              <ion-card>
                <ion-card-header>
                  <ion-card-title style="font-size:12px">
                    Respiratory Rate
                  </ion-card-title>
                </ion-card-header>
                <ion-card-content>
                  <ion-label>{{checkup.respiratory_rate}}</ion-label>
                </ion-card-content>
              </ion-card>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
              <ion-card>
                <ion-card-header>
                  <ion-card-title style="font-size:12px">
                    Blood Pressure
                  </ion-card-title>
                </ion-card-header>
                <ion-card-content>
                  <ion-label>{{checkup.blood_pressure}}</ion-label>
                </ion-card-content>
              </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
  <ion-card  style="opacity: 80%;">
    <ion-card-header>
      <ion-card-title>Medical Prescription</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ion-list *ngFor="let item of checkup.prescriptions">
        <ion-card>
          <ion-card-header>
            <ion-card-title>{{item.medicine}}</ion-card-title>
          </ion-card-header>
            <ion-item>
              <ion-icon item-left name="alarm-sharp"></ion-icon>
              <ion-label>{{item.hrs}} per day</ion-label>
            </ion-item>
          <ion-card-content>

          </ion-card-content>
        </ion-card>
      </ion-list>
    </ion-card-content>
  </ion-card>
  <ion-card  style="opacity: 80%;">
    <ion-card-header>
      <ion-card-title>Assesment</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      {{checkup.assesment}}
    </ion-card-content>
  </ion-card>

  <ion-card  style="opacity: 80%;">
    <ion-card-header>
      <ion-card-title>Management</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      {{checkup.management}}
    </ion-card-content>
  </ion-card>
</ion-content>

