<ion-header>
  <ion-toolbar>
    <ion-title>CheckUp Summary</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item >
      <ion-label>Medical Prescription</ion-label>
      <ion-list>
        <ion-item>Medicine 1</ion-item>
        <ion-item>Medicine 2</ion-item>
        <ion-item>Medicine 3</ion-item>
        <ion-item>Medicine 4</ion-item>
      </ion-list>
    </ion-item>
    <ion-item>
      <ion-label>Assesment</ion-label>
    </ion-item>
  </ion-list>  
</ion-content>
