<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title>
      Pharmacy
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let m of medicines" color="primary">
    <ion-item>
      <ion-label>{{m.name}}</ion-label>
    </ion-item>
  
    <ion-card-content>
      <ion-label>Price : ₱{{m.price}} </ion-label>
      <ion-label>Stocks : {{m.quantity}} </ion-label>
    </ion-card-content>
  </ion-card>
</ion-content>
