<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Patient Healthcare Mobile</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content fullscreen>
      <ion-item>
        <ion-label position="stacked">Patient Identification No.<ion-text color="danger">*</ion-text></ion-label>
        <ion-input required type="text" oninput="handleFirstNameValue(event)"></ion-input>
      </ion-item>

      <div class="ion-padding">
        <ion-button expand="block" type="submit" class="ion-no-margin" href="/member">Login</ion-button>
      </div>

      <div class="ion-padding">
        <ion-button expand="block" type="submit" class="ion-no-margin">Login as Guest</ion-button>
      </div>
  </ion-content>
